.black-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 300%;
    height: 120%;
    // background-color: rgba(0, 0, 0, 0.7);
    background-image: url("../../public/Images/overlay.png");
    background-size: cover;
    /* Set the image to cover all the div */
    background-repeat: no-repeat;
}