.cardMotion {

    -webkit-box-shadow: 3px 3px 10px 3px #272727;
    -moz-box-shadow: 3px 3px 10px 3px #272727;
    box-shadow: 3px 3px 10px 3px #272727;


    width: 300px;
    height: 400px;

    background-image: url("../../public/Images/CardBg/cardBg.jpg");
    background-size: cover;    /* Set the image to cover the entire div */
    background-repeat: no-repeat;
    /* Prevent image repetition */
    background-attachment: fixed;
    /* Keep the background fixed even when scrolling */



    .insideOfCard {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .insideOfCardImg {
        width: 90%;
        height: 90%;
    }
}

.mobileCardContainer {
    .cardMotion {
        margin-left: 50px;
    }

    @media screen and (max-width: 550px) {
        //  align-items: center;
        justify-content: center;

        .cardMotion {
            margin-left: 0;
        }
    }


}