#Work {
    // margin-top: 50px;
    color: white;
    max-width: 100%;
    background-image: url("../../public/Images/workBg.jpg");
    background-size: cover;
    /* Set the image to cover all the div */
    background-repeat: no-repeat;
    /* Commonly used for that situation */
    background-attachment: fixed;
    padding: 10px;
    padding-top: 100px;


    #Introduction {
        height: auto;
        margin-bottom: 100px;
        display: flex;
        flex-wrap: wrap;

        .flex {
            margin-top: 20px;
            width: 100%;

            h3 {
                font-size: 20px;
                width: 160px;
            }
        }

        width: calc(100% - 10px);
        max-width: 800px;

        @media screen and (max-width:1200px) {
            max-width: 700px;
        }

        @media screen and (max-width:1100px) {
            max-width: 600px;
        }

        @media screen and (max-width:1000px) {
            max-width: 500px;
        }

        @media screen and (max-width:900px) {
            max-width: 450px;
        }

        @media screen and (max-width:850px) {
            max-width: none;
        }
    }

    #deckContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: 'relative';
        height: 0;
    }

    .sections {
        width: calc(100% - 10px);
        max-width: 800px;

        @media screen and (max-width:1200px) {
            max-width: 700px;
        }

        @media screen and (max-width:1100px) {
            max-width: 600px;
        }

        @media screen and (max-width:1000px) {
            max-width: 500px;
        }

        @media screen and (max-width:900px) {
            max-width: 450px;
        }

        @media screen and (max-width:850px) {
            max-width: none;
        }
    }

    a {
        color: white;
        text-decoration: none;
    }

}