@import "./SCSS/cursorVariables.scss";

#root {
    cursor: none;
    font-family: "Rye",
        sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    color: white;

    * {
        font-family: "Rye",
            sans-serif;
    }

    a:hover {
        cursor: none;
    }

    input:hover {
        cursor: none;
    }

    textarea:hover {
        cursor: none;
    }

    label:hover {
        cursor: none;
    }
}