@import "./SCSS/cursorVariables.scss";

#root {
    cursor: none;
    font-family: "Rye",
        sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    color: white;

    a:hover {
        cursor: none;
    }
}